################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Livesplit-websocket-hotkeys/DesignTimeBuild/.dtbcache.v2
/.vs/Livesplit-websocket-hotkeys/FileContentIndex/9bf893c9-ed79-4a20-a105-007b46bcc7cc.vsidx
/.vs/Livesplit-websocket-hotkeys/v17/.suo
/ConsoleApp1/bin/Release/net7.0/ConsoleApp1.dll
/ConsoleApp1/bin/Release/net7.0/ConsoleApp1.pdb
/ConsoleApp1/bin/Release/net7.0/settings.txt
/ConsoleApp1/bin/Release/net7.0-windows/ConsoleApp1.deps.json
/ConsoleApp1/bin/Release/net7.0-windows/ConsoleApp1.dll
/ConsoleApp1/bin/Release/net7.0-windows/ConsoleApp1.exe
/ConsoleApp1/bin/Release/net7.0-windows/ConsoleApp1.pdb
/ConsoleApp1/bin/Release/net7.0-windows/ConsoleApp1.runtimeconfig.json
/ConsoleApp1/bin/Release/net7.0-windows/Microsoft.Extensions.Logging.Abstractions.dll
/ConsoleApp1/bin/Release/net7.0-windows/NonInvasiveKeyboardHookLibrary.Core.dll
/ConsoleApp1/bin/Release/net7.0-windows/settings.txt
/ConsoleApp1/bin/Release/net7.0-windows/System.Reactive.dll
/ConsoleApp1/bin/Release/net7.0-windows/Websocket.Client.dll
/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.dgspec.json
/ConsoleApp1/obj/project.assets.json
/ConsoleApp1/obj/project.nuget.cache
/ConsoleApp1/obj/Release/net7.0/ConsoleApp1.dll
/ConsoleApp1/obj/Release/net7.0/ConsoleApp1.pdb
/ConsoleApp1/obj/Release/net7.0-windows/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/ConsoleApp1/obj/Release/net7.0-windows/apphost.exe
/ConsoleApp1/obj/Release/net7.0-windows/ConsoleApp1.AssemblyInfo.cs
/ConsoleApp1/obj/Release/net7.0-windows/ConsoleApp1.AssemblyInfoInputs.cache
/ConsoleApp1/obj/Release/net7.0-windows/ConsoleApp1.assets.cache
/ConsoleApp1/obj/Release/net7.0-windows/ConsoleApp1.csproj.AssemblyReference.cache
/ConsoleApp1/obj/Release/net7.0-windows/ConsoleApp1.csproj.BuildWithSkipAnalyzers
/ConsoleApp1/obj/Release/net7.0-windows/ConsoleApp1.csproj.CopyComplete
/ConsoleApp1/obj/Release/net7.0-windows/ConsoleApp1.csproj.CoreCompileInputs.cache
/ConsoleApp1/obj/Release/net7.0-windows/ConsoleApp1.csproj.FileListAbsolute.txt
/ConsoleApp1/obj/Release/net7.0-windows/ConsoleApp1.dll
/ConsoleApp1/obj/Release/net7.0-windows/ConsoleApp1.GeneratedMSBuildEditorConfig.editorconfig
/ConsoleApp1/obj/Release/net7.0-windows/ConsoleApp1.genruntimeconfig.cache
/ConsoleApp1/obj/Release/net7.0-windows/ConsoleApp1.GlobalUsings.g.cs
/ConsoleApp1/obj/Release/net7.0-windows/ConsoleApp1.pdb
/ConsoleApp1/obj/Release/net7.0-windows/ref/ConsoleApp1.dll
/ConsoleApp1/obj/Release/net7.0-windows/refint/ConsoleApp1.dll
/KB Hook Test
/.vs
/ConsoleApp1/bin/Release/net6.0-windows
/ConsoleApp1/obj/Release/net6.0-windows
