################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
Livesplit-websocket-hotkeys/bin
Livesplit-websocket-hotkeys/obj
/Livesplit-websocket-hotkeys/Properties/PublishProfiles
